<?xml version="1.0" encoding="utf-8"?>
<!--
     Copyright 2020 Coop IT Easy
     License AGPL-3.0 or later (http://www.gnu.org/licenses/agpl).
-->
<odoo>

    <menuitem id="menu_csv_export_invoice"
              name="Export Invoice CSV"
              action="action_csv_export_invoice"
              parent="csv_export_base.menu_csv_export_base"
              sequence="210"
    />
</odoo>
